.font-title {
    font-family: 'Bungee', cursive;
}


.p-2-safe {
	padding: 2rem;
}

/* Safe area rules for browser with max() support */

@supports (padding: max(0px)) {
	.p-2-safe {
		padding-top: max(2rem, env(safe-area-inset-top));
		padding-bottom: max(2rem, env(safe-area-inset-bottom));
		padding-left: max(2rem, env(safe-area-inset-left));
		padding-right: max(2rem, env(safe-area-inset-right));
	}
}
